textview#main_text_view {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

clamp{
	background-color : @view_bg_color;
}

box#sidebar{
    background-color: @window_bg_color;
}

list{
    background-color: @window_bg_color;
    padding-top: 5px;
    padding-left : 5px;
    padding-right : 5px;
}