textview#main_text_view {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
}
dimming{
    opacity: 0.5;
}
clamp{
	background-color : @view_bg_color;
}

box#sidebar{
    background-color: @window_bg_color;
}

list{
    background-color: @window_bg_color;
    padding-top: 5px;
    padding-left : 5px;
    padding-right : 5px;
}

label#Char_count, label#Line_count{
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 12px;
    opacity: 0.5;
}